<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
    <%- include("./_share/stylesheets.ejs") %>
      <title>アンケート</title>
</head>

<body>
  <main>
    <div class="container">
      <%- include("./_share/header.ejs") %>

        <div class="px-4 py-5 my-5 text-center">
          <h1 class="display-5 fw-bold">ご回答ありがとうございました！</h1>
          <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">
              <a class="btn btn-outline-primary" href="/survey/result/<%= topicId %>">結果を見る</a>
            </p>
          </div>
        </div>
  </main>
  <%- include("./_share/javascripts.ejs") %>
    <script type="text/javascript" src="/public/js/regist.js"></script>
</body>

</html>