<!DOCTYPE html>
<html lang="ja">

<head>
  <%- include("./_share/metadata.ejs") %>
    <%- include("./_share/stylesheets.ejs") %>
      <title>アンケート</title>
</head>

<body>
  <main>
    <h1 class="visually-hidden">ヒーローの実例</h1>

    <div class="container">
      <%- include("./_share/header.ejs") %>
      <div class="col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row align-items-center g-5 py-5">
            <div class="col-md-6 col-lg-6">
              <canvas id="chart" width="400" height="400" data-chose="<%= chose %>" data-agree="<%= agree %>">
              </canvas>
            </div>
            <div class="col-md-6 col-lg-6">
              <div class="overflow-auto" style="max-height: 400px;">
                <% for (let comment of comments) { %>
                  <div class="card mb-3">
                    <div class="card-header">
                      <%= comment.chose %>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <%= comment.comment %>
                      </li>
                      <li class="list-group-item">@<%= comment.nickname %>
                      </li>
                    </ul>
                  </div>
                  <% } %>
              </div>
            </div>

          </div>
        </div>
    </div>
    <%- include("./_share/javascripts.ejs") %>
  </main>
</body>

</html>